[submodule "42_Paris_2023/Cursus_2023"]
	path = 42_Paris_2023/Cursus_2023
	url = git@github.com:M1000-93/Cursus_2023.git
[submodule "Others/My_commands"]
	path = Others/My_commands
	url = git@github.com:M1000-93/My_commands.git
[submodule "42_Paris_2023/Cursus_2023/libft"]
	path = libft
	url = git@vogsphere.42paris.fr:vogsphere/intra-uuid-d6358c9a-5f9c-427d-90e6-c097fef3c0cb-5288950-mechard

